html, body {
  margin: 0;
  padding: 0;
  border: 0;
}

.remark-container {
  background-color: #000;
}

.remark-slide-scaler {
  box-shadow: none;
}

/**
 * !important declarations necessary to override element attributes defined by
 * Remark.js.
 */
.has-bg {
  background-size: cover !important;
  background-position: center !important;
}

.has-bg img {
  display: none;
}

h1 {
  font-family: 'Open Sans';
}

.has-bg h1 {
  position: absolute;
  right: 0;
  bottom: 0.8em;
  left: 0;

  padding: 0 0.4em 0.5em;

  background-color: rgba(0, 0, 0, 0.5);
  color: #eee;
  text-align: right;
}

.has-bg p {
  position: absolute;
  bottom: 2.2em;
  right: 0.5em;

  padding: 0.5em 1em;

  font-size: 0.7em;
  text-align: right;
}
.has-bg p,
.has-bg p a {
  color: #ccc;
}

pre {
  padding: 1em;

  background-color: #333;
  color: #eee;
  font-size: 1.34em;
  overflow-x: auto;
}
code.language-terminal {
  background-color: transparent;
  color: inherit;
  display: block;
}

iframe {
  width: 100%;
  height: 30vh;
}

.remark-slide-content {
  background-color: #f2f2f2;
}

.img-3 {
  text-align: center;
}
.img-3 img {
  width: 25%;
  margin: 0 2%;

  vertical-align: middle;
}
