html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
  font-size: 100%;
  line-height: 1.125em;
  font-family: Georgia, serif;
}

a {
  color: #24b4ca;
  text-decoration: none;
}

main, header h1 {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

header.landing {
  width: 100%;
  height: 14em;
  overflow: auto;

  background-image: url(control-room.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center middle;
}
header.landing hgroup {
  margin: 2em 0;

  background-color: rgba(0, 0, 0, 0.3);
  color: #eee;
}
header.landing h1 {
  padding: 1em 0;
}
header h1 {
  font-family: monospace;
}
header h1:before {
  content: '$ ';
}
header h1 a {
  color: #333;
  text-decoration: none;
}

nav {
  width: 30%;
  float: left;
}
nav ul {
  list-style-type: none;
  padding: 0;
}

main > article {
  width: 70%;
  margin: 2em auto;
  overflow: auto;
}

main > article img {
  margin: 0 auto;
  max-width: 100%;
  max-height: 50vh;
  display: block;
}

footer {
  float: left;
  padding: 1em 0;

  font-size: 0.8em;
}

footer img {
  border-width: 0;
}

footer .bocoup, footer .license {
	width: 45%;

	float: left;
}

footer .bocoup {
	margin-right: 10%;
}

footer .bocoup img {
	margin-right: 2em;

	float: left;
}

pre {
  padding: 1em;

  background-color: #333;
  color: #eee;
  font-size: 1.34em;
  overflow-x: auto;
}

/**
 * When REPL animation is enabled, the height of each `code` block is
 * explicitly set to its initially-calculated value. This ensures that the
 * element size remains constant as the animation proceeds. `display: block`
 * ensures that the element is actually rendered with the calculated height
 * value.
 */
code.language-terminal {
  display: block;
}

.solution {
  visibility: hidden;
}
#solution-toggle:checked ~ .solution {
  visibility: visible;
}

.img-3 {
  text-align: center;
}
.img-3 img {
  display: inline-block;
  width: 25%;
  margin: 0 2%;

  vertical-align: middle;
}

.index section {
  width: 36%;
  margin: 0 2% 3em;
  float: left;
  padding: 1em 5%;

  background-color: #333;
  color: #eee;
  font-family: monospace;
}
.index section .fa {
  margin-right: 1em;
}
.index section ul {
  padding: 0;

  font-size: 1.4em;
  line-height: 1.6em;
  list-style-type: none;
}
